{% extends 'studyplanner/base.html' %}

{% block title %}{{ plan.name }}{% endblock %}

{% block content %}
	<div id="add_modal" class="modal">
		{% include 'studyplanner/modal_template.html' %}
	</div>
	<div class="container-fluid">
		<div class="panels">
			<h2 class="text-center pageTitle">
				{{ plan.name }}
			{% if not plan.is_completed %}
				<a href="{% url 'studyplanner:edit-plan' pk=plan.pk %}" title="Edit Plan details">
					<button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
				</a>	
			{% endif %}			
			</h2>
			{% if not plan.is_completed %}
				<h5 class="text-center pageTitle" style="color: red;">Deadline: {{ plan.deadline }}</h5>
			{% else %}
				<h5 class="text-center pageTitle" style="color: green;">Completed</h5>
			{% endif %}
			<div class="text-center">
				<a href="{% url 'studyplanner:print-plan' pk=plan.pk %}">
					<button class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span class="glyphicon glyphicon-print"></span>&nbsp; View/Print</button>
				</a>
			{% if not plan.is_completed %}
				<a href="{% url 'studyplanner:complete-plan' pk=plan.pk %}">
					<button class="btn btn-default completePlan"><span class="glyphicon glyphicon-ok"></span>&nbsp; Mark as Complete</button>
				</a>
			{% else %}
				<button class="btn btn-default completedPlan"><span class="glyphicon glyphicon-ok"></span>&nbsp; Completed</button>
			{% endif %}
				<a href="{% url 'studyplanner:archive-plan' pk=plan.pk %}">
					<button class="btn btn-danger"><span class="glyphicon glyphicon-download"></span>&nbsp; Archive Plan</button>
				</a>
			</div>
			{% include 'studyplanner/messages.html' %}
			<div class="row">
				<div class="table-responsive dataTable">	
					<table class="table">
						<thead>
							<tr>
								<td></td>
								<th>Subjects</th>
									{% for path in paths %}
										<th>
											<span class="pathName" title="{{ path.description }}">{{ path.name }}</span>
										{% if not plan.is_completed %}
											<a href="{% url 'studyplanner:edit-path' pk=path.pk %}"><span class="glyphicon glyphicon-pencil itemEditBtn" title="Edit Path details"></span></a>
										{% endif %}
											<br>
											{% if path.is_completed %}
												<span class="text-success contentfooter"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Completed</span>
											{% else %}											
												<span class="text-danger contentfooter">
													<span class="glyphicon glyphicon-calendar"></span>{{path.deadline }}
													&nbsp; 
												{% if not plan.is_completed %}
													<span class="glyphicon glyphicon-trash removeItemBtn" title="Remove Item" onclick="openActionModal('path','remove','{{ path.name }}','{{ path.pk }}')"></span>
												{% endif %}
												</span>												
												</span>								
											{% endif %}
										</th>
									{% endfor %}
							{% if not plan.is_completed %}
								<th>
									<button onclick="openFormModal('path','{{ plan.pk }}')" class="btn btn-success">
										<span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Add Path
									</button>
								</th>
							{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for subject in plan.subject_set.all %}
								<tr>
									<td>
										<span>{{ forloop.counter }}.</span>
									</td>
									<th>
										<span>
											<h4 class="pageTitle"><b>
												<span class="subjectName" title="{{ subject.description }}">{{ subject.name }}</span>
											{% if not subject.is_completed and not plan.is_completed %}
												<a href="{% url 'studyplanner:edit-subject' pk=subject.pk %}"><span class="glyphicon glyphicon-pencil itemEditBtn" title="Edit Subject details"></span></a>
											{% endif %}
											</b></h4>
											{% if subject.is_completed %}
												<span class="text-success contentfooter"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Completed</span>
											{% else %}
												<span class="text-danger contentfooter">
													<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Not completed
													&nbsp; 
													<span class="glyphicon glyphicon-calendar"></span>&nbsp;{{ subject.deadline }}
												{% if not plan.is_completed %}
													&nbsp;<span class="glyphicon glyphicon-trash removeItemBtn" title="Remove Item" onclick="openActionModal('subject','remove','{{ subject.name }}','{{ subject.pk }}')"></span>
												{% endif %}
												</span>
												{% if not plan.is_completed %}
												<span class="itemComplete">
													<br><button class="btn btn-sm btn-default" onclick="openActionModal('subject','markComplete','{{ subject.name }}','{{ subject.pk }}')">Mark as complete&nbsp; <span class="glyphicon glyphicon-ok"></span></button>
												</span>
												{% endif %}
											{% endif %}
										</span>
									</th>
								{% for path in paths %}
									<th>
										{% for method in subject.method_set.all %}
											{% if method.path == path %}
												<span class="text-{% if method.is_completed %}success{% else %}info{%endif%} text-xs">
													<span class="methodName" title="{{method.description}}">{{ method.name }}</span>
													{% if not method.is_completed and not subject.is_completed and not plan.is_completed %}
														<span class="glyphicon glyphicon-minus-sign removeItemBtn" title="Remove Item" onclick="openActionModal('subjectMethod','remove','{{ method.name }}','{{ method.pk }}')"></span>
														<a href="{% url 'studyplanner:edit-method' pk=method.pk %}"><span class="glyphicon glyphicon-pencil itemEditBtn" title="Edit Method details"></span></a>
														<span class="glyphicon glyphicon-ok-sign methodCompleteBtn" title="Mark as completed" onclick="openActionModal('subjectMethod','markComplete','{{ method.name }}','{{ method.pk }}','sb')"></span>
													{% else %}
														{% if method.is_completed %}
														<span class="glyphicon glyphicon-ok-sign"></span>
														{% endif %}
													{% endif %}
												</span>
												<br>
											{% endif %}	
										{% endfor %}
										{% if not subject.is_completed and not plan.is_completed %}
											<button onclick="openFormModal('subjectMethod','{{ subject.pk }}','{{ path.pk }}','sb')" class="btn btn-info btn-xs">
												<span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Add Method
											</button>
										{% endif %}
									</th>
								{% endfor %}
								</tr>
								{% for subtopic in subject.subtopic_set.all %}
									<tr>
										<td></td>
										<td>
											<h5 class="pageTitle"><i>
												<b class="subtopicName" title="{{ subtopic.description }}">{{ subtopic.name }}</b>
												{% if not subtopic.is_completed and not subtopic.subject.is_completed and not plan.is_completed %}
													<a href="{% url 'studyplanner:edit-subtopic' pk=subtopic.pk %}"><span class="glyphicon glyphicon-pencil itemEditBtn" title="Edit Subtopic details"></span></a>
												{% endif %}
											</i></h5>
											{% if subtopic.is_completed %}
												<span class="text-success contentfooter"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Completed</span>
											{% else %}
												<span class="text-danger contentfooter">
												<b>
													<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Not completed
													&nbsp; <span class="glyphicon glyphicon-calendar"></span>&nbsp;{{ subtopic.deadline }}
												{% if not subtopic.subject.is_completed and not plan.is_completed  %}
													&nbsp;<span class="glyphicon glyphicon-trash removeItemBtn" title="Remove Item" onclick="openActionModal('subtopic','remove','{{ subtopic.name }}','{{ subtopic.pk }}')"></span>
												{% endif %}
												</b>
												</span>
												{% if not subtopic.subject.is_completed and not plan.is_completed  %}
													<span class="itemComplete">
														<br><button class="btn btn-sm btn-default" onclick="openActionModal('subtopic','markComplete','{{ subtopic.name }}','{{ subtopic.pk }}')">Mark as complete&nbsp; <span class="glyphicon glyphicon-ok"></span></button>
													</span>
												{% endif %}
											{% endif %}
										</td>
									{% for path in paths %}
										<td>
											{% for method in subtopic.method_set.all %}
												{% if method.path == path %}
													<span class="text-{% if method.is_completed %}success{% else %}info{%endif%} text-xs">
														<span class="methodName" title="{{method.description}}">{{ method.name }}</span>
														{% if not method.is_completed and not subtopic.subject.is_completed and not subtopic.is_completed and not plan.is_completed  %}
															<span class="glyphicon glyphicon-minus-sign removeItemBtn" title="Remove Item" onclick="openActionModal('subtopicMethod','remove','{{ method.name }}','{{ method.pk }}')"></span>
															<a href="{% url 'studyplanner:edit-method' pk=method.pk %}"><span class="glyphicon glyphicon-pencil itemEditBtn" title="Edit Method details"></span></a>
															<span class="glyphicon glyphicon-ok-sign methodCompleteBtn" title="Mark as completed" onclick="openActionModal('subtopicMethod','markComplete','{{ method.name }}','{{ method.pk }}','st')"></span>
														{% else %}
															{% if method.is_completed %}
															<span class="glyphicon glyphicon-ok-sign"></span>
															{% endif %}
														{% endif %}
													</span>
													<br>
												{% endif %}
											{% endfor %}
											{% if not subtopic.is_completed and not subtopic.subject.is_completed and not plan.is_completed  %}
												<button onclick="openFormModal('subtopicMethod','{{ subtopic.pk }}','{{ path.pk }}','st')" class="btn btn-info btn-xs">
													<span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Add Method
												</button>
											{% endif %}
										</td>
									{% endfor %}
									</tr>
								{% endfor %}
							{% if not subject.is_completed and not plan.is_completed %}
								<tr>
									<td></td>
									<td>
										<button onclick="openFormModal('subtopic','{{ subject.pk }}')" class="btn btn-default btn-xs">
											<span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Add Subtopic
										</button>
									</td>
								</tr>
							{% endif %}
							{% endfor %}
						{% if not plan.is_completed %}
							<tr>
								<td></td>
								<td>
									<button onclick="openFormModal('subject','{{ plan.pk }}')" class="btn btn-success">
										<span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Add Subject
									</button>
								</td>
							</tr>
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}